<%= render 'navbar' %>

<div class="cocktail">

  <h1><%= @cocktail.name %></h1>

  <div class="cocktail-info">

    <%= cl_image_tag @cocktail.picture.key, alt: "cocktail picutre" %>

    <div class="cocktail-ingredient">
      <%= link_to 'Add new dose', new_cocktail_dose_path(@cocktail) %>
      <% @cocktail.doses.each do |dose| %>
      <div class="dose-list">
        <div class="dose-list-item-grow"><%= dose.ingredient.name %></div>
        <div class="dose-list-item"><%= dose.description %></div>
        <div class="dose-list-item"><%= link_to '✕', dose_path(dose), method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
      <% end %>
    </div>
  </div>

</div>
